@import '~@angular/material/prebuilt-themes/indigo-pink.css';

mat-expansion-panel {
  width: 100%;
}

.mat-expansion-panel-body {
  padding: unset !important;
}


markdown {
  pre {
    margin: unset !important;
    border-radius: unset !important;
  }
}